/* --- NEW USER FORM --- */
#avatar {
  position: relative;
  width: 80px;
  height: 80px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
}

input[type='radio'], .avatar-img {
  opacity: 0.3;
}


input[type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

input[type='radio']:checked + label .avatar-img {
  opacity: 1.0;
}

.avatar-label {
  font-weight: 700;
}

#radioGroup {
  height: 80px;
}

/* --- NEW PROJECT FORM --- */
#new-project-modal {
  width: 400px;
}

#new-project-modal-description {
  height: 100px;
  margin-bottom: 14px;
}
