/* --- IMPORT FONTS --- */
@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script');
@import url('https://fonts.googleapis.com/css?family=Gochi+Hand');
@import url('https://fonts.googleapis.com/css?family=Coming+Soon');
@import url('https://fonts.googleapis.com/css?family=Short+Stack');


/* --- DASHBOARD --- */
#header {
  margin-left: 15px;
}

/* --- PROJECTS --- */
#card {
  /* POST-IT STYLE */
  /* margin: 20px;
  width: 200px;
  height: 200px;
  background-color: khaki; */

  /* WHITEBOARD STYLE */
  margin: 20px;
  width: 250px;
  height: 180px;
  text-align: center;
  padding-top: 40px;
  background-image: url('../assets/images/13461.jpg');
  background-position: center;
  background-size: cover;
  box-shadow: 0 0px 0px 0;
  overflow-wrap: normal;
}

.project-description {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0 7px;
}

.custom-font {
  font-family: 'Coming Soon', cursive !important;
  /* font-family: 'Nanum Pen Script', cursive; */
  /* font-family: 'Gochi Hand', cursive; */
  /* font-family: 'Coming Soon', cursive; */
  /* font-family: 'Short Stack', cursive; */
}

/* @font-face {
  font-family: 'Chalkduster';
  src: url('./fonts/Chalkduster.ttf');
} */

