/* --- TASK CARD --- */
#task-card {
  margin: 10px;
  width: 220px;
  height: 100px;
  background-color: khaki;

  /* NOTE: Enable for multi column category div */
  /* float: left; */
}

.task-content-wrapper {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  overflow-wrap: break-word;
}

.task-content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  overflow-wrap: break-word;
  text-overflow: ellipsis;
}

#task-detail-modal {
  width: 500px;
  height: 500px;
}

#task-detail-header {
  border-bottom: 0px;
}

#task-detail-menu {
  border: 0px;
  box-shadow: 0 0px 0px 0;
}

.khaki {
  background-color: khaki !important; 
}

#task-card-avatar {
  background-color: transparent;
  height: 40px;
  width: 40px;
}

#task-button {
  margin: 10px 0;
}